<ul id="employee-list">
  <% unless @employees.empty? %>
      <li class="heading"> <%= t('employee.name') %></li>
      <%- @employees.each do |e| -%>
          <li>
            <div class="employee-name"><%= link_to "#{e.first_name}", :controller=>"employee", :action=>"create_monthly_payslip", :id=>e.id %></div>
      <% end %>

  <% else %>
      <p class="flash-msg"><%= t('employee.notAddedUnderCat') %></p>
  <% end %>
</ul>
