<% if @employee.nil? %>
    <div id="no_result"><%= t('employee.notFound') %></div>
<% else %>
    <p class="flash-msg"><%= t('employee.selectManagerByClick') %> !</p>
    <% @employee.each do |r| %>
        <div id="ajax_result">
          <a href="#" onclick="update_reporting_manager(<%= r.id %>)"><%= r.first_name + " " + r.last_name %></a><br/>
          <small><%= t('employee.empId') %>.<%= r.employee_number %></small>
        </div>
    <% end %>
<% end %>
