<h2><%= t("feeSubmission") %></h2>

<p><%= link_to t("finance.title"), :action => "index" %></p>

<% @fee_components.each do |c| %>
    <%= c.fee_element.label %> - <%= c.fee_element.amount %> <br/>
<% end %>