<h1>
  <%= t('finance.createExpense') %>
</h1>

<p>
  <%= link_to "Finance", :action => "index" %>
  <%= link_to t("transactions"), :action => "transactions" %>
</p>

<%= render :partial => "transaction_edit_form" %>